
.about {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-background {
        display: flex;
        background: #2a55a3;
        margin-bottom: 10rem;
        padding: 5rem 30rem;
        justify-content: center;

        .root {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        
            .content {
                padding: 2rem;
                display: flex;
                flex-direction: column;
            
                .title {
                    margin-bottom: 1rem;
                    text-decoration: underline;
                }
            }
        }

        
    }

    
}


.left-triangle {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    left: -20vw;
    transform: rotate(30deg);
}
